<!doctype html>
<html lang="en">
<head>
    {{{block "head"}}}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <script src="{{ STATIC_URL }}js/modernizr.js"></script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        {{{block "nav"}}}
        <main class="main">
            {{{block "main"}}}
        </main>
        <footer class="footer">
            {{{block "footer"}}}
        </footer>
        {{> config}}
        {{> scripts}}
        <div id="fb-root"></div>
    </div><!-- end inner wrap, must go after ALL content -->
</div><!-- end offcanvas -->
</body>
</html>