<!doctype html>
<html lang="en">
<head>
    <script>window.startTime = (new Date).getTime();</script>
    {{{block "head"}}}
    <link rel="stylesheet" href="{{ staticUrl }}css/styles.css">
    <script src="{{ staticUrl }}js/modernizr.js"></script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        {{{block "nav"}}}
        <main class="main" role="content">
            {{{block "main"}}}
        </main>
        <footer class="footer row">
            {{{block "footer"}}}
        </footer>
    </div><!-- end inner wrap, must go after ALL content -->
</div><!-- end offcanvas -->
{{> config}}
{{> scripts}}
<div id="fb-root"></div>
</body>
</html>