<section class="row topics">
    <article>
        <section class="span8">
            <h1>{{ name }}</h1>
            <p>
                {{ description }}
            </p>
        </section>
        <section class="span4">
            <h1> {{ owner.login }} </h1>
            <p>
                <img src="{{ owner.avatar_url }}" title={{ owner.login }} />
            </p>
        </section>
    </article>
</section>

<div class="flex-video">
  <iframe width="560" height="315" src="//www.youtube.com/embed/lM9RziXxacE" frameborder="0" allowfullscreen></iframe>
</div>