<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Article" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    {{{block "head"}}}
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv-3.6.2.js"></script>
    <script src="{{ STATIC_URL }}js/selectivizr-v1.0.3b.js"></script>
    <script src="{{ STATIC_URL }}js/css3-mediaqueries-0.9.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
<header class="header">
    {{{block "nav"}}}
</header>
<main class="main">
    {{{block "main"}}}
</main>
<footer class="footer">
    {{{block "footer"}}}
</footer>
{{> config}}
{{> scripts}}
<div id="fb-root"></div>
</body>
</html>