<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Article" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    {{> config}}
    <link rel="stylesheet" href="{{ STATIC_URL }}/mocha.css" />
    <script src="{{ STATIC_URL }}/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    {{{block "head"}}}
</head>
<body>
<div id="mocha"></div>
<header class="header">
    {{{block "nav"}}}
</header>
<section class='main'>
    {{{block "main"}}}
</section>
<section class="footer">
    {{{block "footer"}}}
</section>
<div id="fb-root"></div>
</body>
{{> mocha }}
</html>