<section {{data-context this}} class="home">
  <article class="row span7">
    <h1>
      Title: {{slugify title}}
    </h1>

    <p>
      Content: {{pluralize content}}
    </p>
  </article>
  <section class="row span5">
    <h1>
      Title: {{slugify title}}
    </h1>

    <p>
      Content: {{pluralize content}}
    </p>

    <p>
      "I need content."
    </p>
    <ul class="subview">
        {{#each list}}
            {{>home_sub}}
        {{/each}}
    </ul>
  </section>
</section>
<div class="flex-video">
  <iframe width="560" height="315" src="//www.youtube.com/embed/lM9RziXxacE" frameborder="0" allowfullscreen></iframe>
</div>